
/*------------------------------------------NAVIGATION BAR------------------------------------*/
.topnav {
    z-index: 20;
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 2px 140px 3px 70px;
    border-bottom: 1px solid rgb(219, 219, 219);
    top:0%;
    width:100%;
    height: 70px;
    position: fixed;/* Set the navbar to fixed position */
}
.topnav a img {
    width: 50px; /* Adjust as needed */
    height: 50px; /* Adjust as needed */
}

  /* Style the links inside the navigation bar */
  .topnav a{
    float: left;
    display: block;
    color: rgba(0, 0, 0, 0.808);
    text-align: center;
    padding: 14px 16px;
    text-decoration:none;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: bold;
    margin:auto;
  }
  
  .logo
  {
    color:rgb(0, 199, 199);
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: rgb(40, 139, 55);
    color: rgba(0, 0, 0, 0.808);
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    font-size: 25px;
    font-weight: 900 ;
  }

  .topnav a.active:hover{
      background-color: white;
  }
  .topnav .main
  {
      color:rgb(2, 172, 2);
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }
  
    /*--------------------------------------*/
  /* The dropdown container */
  .dropdown {
    float: right;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.808);
    text-align: center;
    padding: 24px 16px;
    border: none;
    outline: none;
    background-color:inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
    font-family: sans-serif;
    font-weight: bold;
    margin:auto;
  }
  
  /* Add a blue background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    /* background-color: rgb(108, 233, 233); */
    background-color: rgb(40, 139, 55);

  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-weight: lighter;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  /*---------------------------------------------------*/
  /*media queries*/
  /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

.container-fluid.main{
    position: relative; /* To make the navbar positions relative to this container */
    padding: 0;
  }
  .container {
    text-align: center;
    margin-top: 80px; /* gives space bw navbar and carousel */
    margin-bottom: 5px;
    font-family:  Arial, Helvetica, sans-serif;
    font-weight: bold;

}
  .navbar-default {
    background-image: none;
    background-color: transparent; /* Make the menu become transparent */
    border-radius: 0px;
    border: 0;
    box-shadow: none;
    padding: 10px;
    position: absolute; /* Make the menu out of the document flow so it can placed anywhere without disturbing other widgets */
    top: 0;
    left: 0;
    right: 0;
    z-index: 10; /* If you delete this line, your menu link won't be clicked because it is behind the background. Applying this code bring the menu in front of the background */
  }
  
  .navbar-default .navbar-brand {
    font-family: Verdana;
    color: #ffffff;
    font-size: 20px;
  }
  
  .navbar-default .navbar-brand:hover,
  .navbar-default .navbar-brand:focus {
    color: #ffffff;
    background-color: transparent;
  }
  
  .navbar-default .navbar-nav > li > a {
    color: #ffffff;
  }
  
  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
    color: #ffffff;
    background-color: transparent;
  }
  
  .navbar-default .navbar-toggle {
    border-color: transparent;
  }
  
  .navbar-default .navbar-toggle:hover {
    background-color: transparent;
  }
  
  .navbar-default .navbar-toggle:focus {
    background-color: transparent;
  }
  
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
  }
  
  .carousel .background {
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 400px;
    /* width: 700px; */
  }
  
  @media (max-width:991px) {
    .carousel .background {
      background-size: cover; /* To make the background image looks good */
    }
  }
  
  .carousel .background.a {
    background-image:  url("assets/igdtuw_cover.jpg");
  }
  
  .carousel .background.b {
    background-image:  url("assets/3.jpeg");
  }
  
  .carousel .background.c {
    background-image:  url("assets/7.jpeg");
  }
  .carousel .background.d {
    background-image: url("assets/AIST-2023.jpeg");
  }
  .carousel .background.e {
    background-image:  url("assets/ITR\ 2023.jpg");
  }
  .carousel .background.f {
    background-image:  url("assets/sliderImage4s.png");
  }
  .carousel .background.g {
    background-image:  url("assets/website\ banners\ IGDTUW.jpeg");
  }
  .carousel .background.h {
    background-image:  url("assets/Women\ Entrepreneurship.jpeg");
  }
  .carousel .background.i {
    background-image:  url("assets/WhatsApp\ Image\ 2023-11-10\ at\ 12.42.20\ PM.jpeg");
  }
  
  .carousel-fade .carousel-inner .item {
    opacity: 0;
    transition: opacity 0.5s; /* The 0.5s describes the duration to make the opacity from 0 to 1 */
  }
  
  .carousel-fade .carousel-inner .active {
    opacity: 1;
  }
  
  /* CSS Hack to trigger GPU for smooth transition */
  @media all and (transform-3d),
  (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  /* CSS Hack to trigger GPU for smooth transition */
  
  .covertext {
    position: absolute; /* To make the div to be place anywhere. It is out of the document flow */
    top: 200px; /* The distance between the div with the top of document */
    left: 0px; /* Make the div full width */
    right: 0px; /* Make the div full width */
  }
  
  .title {
    font-family: Verdana;
    font-weight: 600;
    font-size: 60px;
    color: #ffffff;
    text-align: center;
  }
  
  .subtitle {
    font-family: Verdana;
    font-size: 23px;
    color: #ffffff;
    text-align: center;
  }
  
  .explore {
    text-align: center;
    margin-top: 10px;
  }
  
  .explore .btn-lg,
  .explore .btn-lg:hover {
    border-radius: 30px;
    padding: 15px 25px;
    font-size: 22px;
    background-image: none;
    background-color: #FF4000;
    border-color: #FF4000;
    color: #ffffff;
  }
  
  .btn,
  .btn:hover {
    border-radius: 0px;
    background-image: none;
    background-color: #FF4000;
    border-color: #FF4000;
    color: #ffffff;
    margin-bottom: 20px;
    box-shadow: none;
    outline: none;
  }
  
  .btn:focus,
  .btn:active:focus,
  .btn.active:focus,
  .btn.focus,
  .btn:active.focus,
  .btn.active.focus {
    color: #ffffff;
    outline: none;
  }